/* variables stockant les couleurs */
/* échantillon de couleurs :
    Blanc cassé : #F3F3F2;
    Kogecha (Brun foncé) : #563624;
    Kuro-urushi (Noir laqué) : #080808;
    Kuro-urushi (Noir laqué) 2 : #1C1C1C;

    Kogecha (Brun brûlé) : #4A3C2A;
    Blanc thé 2 : #F9F9F8;
    Blanc crème : #F8F8F7;
    Blanc ivoire : #FDFDFB;
    Blanc perle : #F6F6F5;
    Blanc antique : #FAFAF9;
    Blanc neige : #FDFDFD;
    Blanc laiteux : #F0F0F0;
    Blanc argenté : #F5F5F5;
    Blanc nacré : #F2F2F2;
    Blanc pur : #FFFFFF;
    Blanc éclatant : #FFFFF0;
    Blanc lumineux : #FFFFF5;
    Blanc doux : #FFFFF8;
    Blanc pastel : #FFFFF2;
    Blanc léger : #FFFFF7;
    Blanc argent : #F0F0F0;
    Blanc doux : #F5F5F5;
    Blanc lumineux : #F8F8F8;
    */
:root {
    --main-bg-color: #FAF4E6;
    --main-border-color: rgba(255, 247, 0, 0.5);
    --main-text-color: #333;
    --highlight-color: #B75555;
    --accent-color: goldenrod;
    --kinari-iro: #FAF4E6;
    --kuro-urushi: #080808;
}