* {
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    max-height: 100dvh;
    margin: 0;

    display: grid;
    grid-template-rows: 1fr;
    grid-auto-columns: auto;

    grid-template-areas: 
        "header"
        "top-tool-pane"
        "left-side-nav main-display-pane right-context-menu"
        "bottom-metadata-banner";

    /*background: linear-gradient(to right, #de6868, #f7b2b2);*/
    /*background: radial-gradient(circle at center, #de6868, #f7b2b2);*/
    /* Dégradé avec transparence. Permet d'ajouter une image de fond texturée avec un voile. */
    /*
    Image de fond d'écran se dit "背景" (haikei) en japonais.
    On emploie également l'expression "背景画像" (haikei gazou) pour désigner une image de fond.
    Pour les motifs, on utilise "模様" (moyou) ou "柄" (gara).
    Recherche réalisée pour trouver le fond d'écran approprié : 背景和柄SVG.
    Image récupérée sur le site : https://rakugaki-biyori.com/background-black-asa-no-ha-moyou/
    Site web de Rakugaki Biyori, qui propose des fonds d'écran et textures japonaises.
    Cette image est utilisée pour donner une ambiance japonaise à l'application.
    L'image est un motif de blé stylisé, qui s'intègre bien avec le thème japonais. 
    */
    background: linear-gradient(rgba(70, 11, 11, 0.9), rgba(66, 22, 22, 0.8)), url('../../assets/images/backgrounds/main-background-black-asa-no-ha-moyou-wheat.svg');
    background-repeat: repeat;
    background-size: 200px auto;

    font-family: Arial, sans-serif;
    font-size: 1.2em;
    color: #333;
}

/*
    Main wrapper for the entire application.
    This is the main container that holds all the sections of the app.
*/
.main-wrapper {
    /* spacing */
    padding: 1em;

    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 0.2fr 0.2fr auto 0.2fr;
    gap: 0 1em;

    grid-template-areas: 
        "header header header"
        "top-tool-pane top-tool-pane top-tool-pane"
        "left-side-nav main-display-pane right-context-menu"
        "bottom-metadata-banner bottom-metadata-banner bottom-metadata-banner";
}

header {
    border-radius: 5px;

    grid-column: 1/4;
    grid-row: 1;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto;

    grid-template-areas: 
        "web-app-title web-app-subtitle web-app-logo"
        "yet-to-come grammar-search-bar web-app-logo";

    text-align: center;
}

header h1.web-app-title {
    font-size: 2.5em;
    font-weight: bolder;
    text-align: center;
    color: goldenrod;
    text-shadow: 2px 2px 4px red;

    grid-column: 1/4;
    grid-row: 1;

    margin: auto;
}

header img.web-app-logo {
    width: 40%;
    height: auto;
    
    grid-column: 3;
    grid-row: 1/3;
    
    margin: auto;

    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;

    border-radius: 100%;
}

header div.grammar-search-bar {
    padding: 1em;
    
    grid-column: 2;
    grid-row: 2;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

header div.grammar-search-bar form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header div.grammar-search-bar form input[type="text"] {
    width: 100%;
    padding: 0.5em;

    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    
    font-size: 1em;
}

header div.grammar-search-bar form input[type="text"]::placeholder {
    color: rgba(218, 165, 32, 0.7);
    font-style: italic;
}

header div.grammar-search-bar form input[type="text"]:focus {
    outline: none;
    border: 2px solid #B75555;
    box-shadow: 0 0 5px rgba(218, 165, 32, 0.7);
}

header div.grammar-search-bar form input[type="text"]:hover {
    background-color: var(--kinari-iro);
    background-color: rgb(from color var(--kinari-iro) red green blue 0.9);
}

header div.grammar-search-bar form button[type="submit"] {
    display: none; /* Hide the default submit button */
}

header div.grammar-search-bar form button {
    padding: 0.5em 1em;
    background-color: #B75555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

header div.grammar-search-bar form button:hover {
    background-color: #ff4800;
}

.top-tool-pane {
    padding: 0;
    
    grid-column: 1/4;
    grid-row: 2;

    display: grid;
    grid-template-columns: 1.4fr 2fr 1.4fr;
    grid-template-rows: auto;
    column-gap: 1em;

    grid-template-areas:
        "breadcrumbs lesson-title yet-to-come";
}

.top-tool-pane div.breadcrumbs {
    padding: 1em;

    grid-column: 1;
    grid-row: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    color: goldenrod;
}

div.breadcrumbs a {
    color: goldenrod;
    text-decoration: none;
    font-weight: bold;

    transition: color 0.3s ease-in-out;
    padding: 0.2em 0.5em;
    border-radius: 5px;
}

div.breadcrumbs a:hover {
    color: #B75555;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 0.2em 0.5em;
    border-radius: 5px; 
}

.top-tool-pane h1.lesson-title {
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;

    margin: auto;
    padding: 0.1em 1em;

    border-radius: 3px;
    background: rgba(255, 215, 0, 0.2);

    grid-column: 2;
    grid-row: 1;

    color: rgba(15, 15, 15, 0.85);
}

.top-tool-pane div.yet-to-come {
    padding: 1em;

    border: 4px solid rgba(255, 0, 0, 0.4);
    border-radius: 5px;

    grid-column: 2;
    grid-row: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
}

.left-context-menu {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    
    grid-column: 1;
    grid-row: 3;
    
    padding: 0em, 1em;
}

aside.left-context-menu .tags {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
    display: flex;
    flex-direction: line;
    gap: 0.5em;

    margin: auto;
    padding: 1em;
}

/* main content wrapper */
main.main-display-pane {
    grid-column: 2/3;
    
    display: grid;
    grid-template-rows: min-content;
    gap: 1em;
}

main.main-display-pane article.grammar-point {
    padding: 0px 1em;
    
    background: rgba(30, 30, 30, 0.7);
    border-radius: 4px;
    
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 0.5fr 0.5fr auto 1fr;
    grid-template-areas: 
    "title title title"
    "construction construction construction"
    "meaning examples examples";
    gap: 1em;
    
    color: rgba(183, 140, 32, 0.9);
}

article.grammar-point h1 {
    width: 90%;

    background: rgba(0, 0, 0, 0.15);
    border-bottom: goldenrod 1px solid;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 100px;
    padding: 0.4em;

    font-size: 1.2em;
    font-weight: lighter;
    text-align: center;
    
    grid-column: 1/4;
    grid-row: 1;
    
    margin: auto;
    padding: 0.4em 3em;
}

article.grammar-point article.grammar-point-construction {
    margin: auto;
}

article.grammar-point-construction p {
    font-size: 1.1em;
    font-weight: bold;
    text-align:center;
    
    margin: auto;
}

article.grammar-point-construction .red-highlight {
    font-weight: 700;
    color: #B75555;
    
    margin: auto;
}

article.grammar-point-meaning p {
    font-size: 1em;
}

article.grammar-point article.grammar-point-exemples {
    padding: 1em;
    
    background: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    
    grid-column: 1/4;
}

article.grammar-point-exemples ul {
    list-style-type:none;
}

article.grammar-point-exemples ul li {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.2em;
    font-weight: 200;
    line-height: 180%;
}

/* right side nav */
.right-side-nav {
    grid-column: 3;
    grid-row: 3;
}

.right-side-nav p {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 12px;

    font-size: 1em;
    font-weight: 100;
    text-align: left;
    color: goldenrod;
    line-height: 1.2;
    
    margin: auto;
    padding: 1em;
}

/* footer */
.bottom-metadata-banner {
    padding: 1em;

    border: 4px solid #00e426;
    border-radius: 5px;

    grid-column: 1/4;
    grid-row: 4;
}

/* variables stockant les couleurs */
/* échantillon de couleurs :
    Blanc cassé : #F3F3F2;
    Kogecha (Brun foncé) : #563624;
    Kuro-urushi (Noir laqué) : #080808;
    Kuro-urushi (Noir laqué) 2 : #1C1C1C;

    Kogecha (Brun brûlé) : #4A3C2A;
    Blanc thé 2 : #F9F9F8;
    Blanc crème : #F8F8F7;
    Blanc ivoire : #FDFDFB;
    Blanc perle : #F6F6F5;
    Blanc antique : #FAFAF9;
    Blanc neige : #FDFDFD;
    Blanc laiteux : #F0F0F0;
    Blanc argenté : #F5F5F5;
    Blanc nacré : #F2F2F2;
    Blanc pur : #FFFFFF;
    Blanc éclatant : #FFFFF0;
    Blanc lumineux : #FFFFF5;
    Blanc doux : #FFFFF8;
    Blanc pastel : #FFFFF2;
    Blanc léger : #FFFFF7;
    Blanc argent : #F0F0F0;
    Blanc doux : #F5F5F5;
    Blanc lumineux : #F8F8F8;
    */
:root {
    --main-bg-color: #FAF4E6;
    --main-border-color: rgba(255, 247, 0, 0.5);
    --main-text-color: #333;
    --highlight-color: #B75555;
    --accent-color: goldenrod;
    --kinari-iro: #FAF4E6;
    --kuro-urushi: #080808;
}

/* Responsive design */
@media (max-width: 768px) {
    .main-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "header"
            "top-tool-pane"
            "left-side-nav"
            "main-display-pane"
            "right-context-menu"
            "bottom-metadata-banner";
    }

    header {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "web-app-title"
            "web-app-logo";
    }

    header img.web-app-logo {
        width: 60%;
    }
}
@media (max-width: 480px) {
    header h1.web-app-title {
        font-size: 1.5em;
    }

    .top-tool-pane h1.lesson-title {
        font-size: 1.2em;
    }

    article.grammar-point h1 {
        font-size: 1.2em;
    }

    article.grammar-point-construction p {
        font-size: 1em;
    }

    article.grammar-point-meaning p {
        font-size: 0.9em;
    }
}
@media (max-width: 360px) {
    header h1.web-app-title {
        font-size: 1.2em;
    }

    .top-tool-pane h1.lesson-title {
        font-size: 1em;
    }

    article.grammar-point h1 {
        font-size: 1em;
    }

    article.grammar-point-construction p {
        font-size: 0.9em;
    }

    article.grammar-point-meaning p {
        font-size: 0.8em;
    }
}
@media (max-width: 320px) {
    header h1.web-app-title {
        font-size: 1em;
    }

    .top-tool-pane h1.lesson-title {
        font-size: 0.9em;
    }

    article.grammar-point h1 {
        font-size: 0.9em;
    }

    article.grammar-point-construction p {
        font-size: 0.8em;
    }

    article.grammar-point-meaning p {
        font-size: 0.7em;
    }
}
/* Dark mode styles */
/*
@media (prefers-color-scheme: dark) {
    body {
        background: linear-gradient(rgba(70, 11, 11, 0.9), rgba(66, 22, 22, 0.8)), url('../../assets/images/backgrounds/main-background-black-asa-no-ha-moyou-wheat.svg');
        background-repeat: repeat;
        background-size: 200px auto;
        color: #f0f0f0;
    }

    header h1.web-app-title,
    .top-tool-pane h1.lesson-title {
        color: #ffcc00;
    }

    article.grammar-point {
        background-color: rgba(30, 30, 30, 0.8);
        color: #f0f0f0;
    }

    article.grammar-point-construction p,
    article.grammar-point-meaning p {
        color: #ccc;
    }
}
*/