/* Responsive design */
@media (max-width: 768px) {
    .main-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "header"
            "top-tool-pane"
            "left-side-nav"
            "main-display-pane"
            "right-context-menu"
            "bottom-metadata-banner";
    }

    header {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "web-app-title"
            "web-app-logo";
    }

    header img.web-app-logo {
        width: 60%;
    }
}
@media (max-width: 480px) {
    header h1.web-app-title {
        font-size: 1.5em;
    }

    .top-tool-pane h1.lesson-title {
        font-size: 1.2em;
    }

    article.grammar-point h1 {
        font-size: 1.2em;
    }

    article.grammar-point-construction p {
        font-size: 1em;
    }

    article.grammar-point-meaning p {
        font-size: 0.9em;
    }
}
@media (max-width: 360px) {
    header h1.web-app-title {
        font-size: 1.2em;
    }

    .top-tool-pane h1.lesson-title {
        font-size: 1em;
    }

    article.grammar-point h1 {
        font-size: 1em;
    }

    article.grammar-point-construction p {
        font-size: 0.9em;
    }

    article.grammar-point-meaning p {
        font-size: 0.8em;
    }
}
@media (max-width: 320px) {
    header h1.web-app-title {
        font-size: 1em;
    }

    .top-tool-pane h1.lesson-title {
        font-size: 0.9em;
    }

    article.grammar-point h1 {
        font-size: 0.9em;
    }

    article.grammar-point-construction p {
        font-size: 0.8em;
    }

    article.grammar-point-meaning p {
        font-size: 0.7em;
    }
}
/* Dark mode styles */
/*
@media (prefers-color-scheme: dark) {
    body {
        background: linear-gradient(rgba(70, 11, 11, 0.9), rgba(66, 22, 22, 0.8)), url('../../assets/images/backgrounds/main-background-black-asa-no-ha-moyou-wheat.svg');
        background-repeat: repeat;
        background-size: 200px auto;
        color: #f0f0f0;
    }

    header h1.web-app-title,
    .top-tool-pane h1.lesson-title {
        color: #ffcc00;
    }

    article.grammar-point {
        background-color: rgba(30, 30, 30, 0.8);
        color: #f0f0f0;
    }

    article.grammar-point-construction p,
    article.grammar-point-meaning p {
        color: #ccc;
    }
}
*/